Having spent years analyzing financial records for big banks, you've finally scratched your idealistic itch and joined the education sector. Your latest role is Chief Data Scientist for your city's school district. In this capacity, you'll be helping the school board and mayor make strategic decisions regarding future school budgets and priorities.

As a first task, you've been asked to analyze the district-wide standardized test results. You'll be given access to every student's math and reading scores, as well as various information on the schools they attend. Your task is to aggregate the data to showcase obvious trends in school performance.

In [1]:
import pandas as pd

In [2]:
school_raw = pd.read_csv(r'C:\Users\ericj\Desktop\Data_Analytics_2022\Data_Analytics_2022\Pandas-Challenge\Instructions\PyCitySchools\Resources/schools_complete.csv')
student_raw = pd.read_csv(r'C:\Users\ericj\Desktop\Data_Analytics_2022\Data_Analytics_2022\Pandas-Challenge\Instructions\PyCitySchools\Resources/students_complete.csv')

### District Summary

Create a high-level snapshot, in a DataFrame, of the district's key metrics, including the following:

* Total schools
* Total students
* Total budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [3]:
school_raw.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
Number_of_schools = len(school_raw['school_name'].value_counts())

In [5]:
student_raw.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
Number_of_students = len(student_raw['Student ID'].value_counts())

In [7]:
Total_budget = school_raw['budget'].sum()

In [8]:
Average_math = student_raw['math_score'].mean()

In [9]:
Average_reading = student_raw['reading_score'].mean()

In [10]:
agg_data = pd.DataFrame([{'Total Number of Schools' : Number_of_schools, 'Total Number of Students' : Number_of_students, 
                        'Total Budget' : Total_budget, 'Average Math Score' : Average_math,
                        'Average Reading Score' : Average_reading}])

In [11]:
agg_data

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score
0,15,39170,24649428,78.985371,81.87784

In [33]:
Number_passing_math = student_raw.loc[student_raw['math_score']>=70]['math_score'].count()
Number_passing_reading = student_raw.loc[student_raw['reading_score']>=70]['reading_score'].count()
Number_passing_both = Number_passing_math + Number_passing_reading
Total_math = student_raw.loc[student_raw['math_score']]['math_score'].count()
Total_reading = student_raw.loc[student_raw['reading_score']]['math_score'].count()
Total_math_reading = Total_math + Total_reading


agg_data['Percent Passing Math in %'] = round((Number_passing_math / Total_math * 100), 2)
agg_data['Percent Passing Reading in %'] = round((Number_passing_reading / Total_reading * 100), 2)
agg_data['Percent Passing Both in %'] = round((Number_passing_both / Total_math_reading * 100), 2)

In [34]:
agg_data

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math in %,Percent Passing Reading in %,Percent Passing Both in %
0,15,39170,24649428,78.985371,81.87784,74.98,85.81,74.98,85.81,80.39

### School Summary

Create a DataFrame that summarizes key metrics about each school, including the following:

* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math 70 or greater)
* % passing reading (the percentage of students who passed reading 70 or greater)
* % overall passing (the percentage of students who passed math AND reading)

### Highest-Performing Schools (by % Overall Passing)

Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

### Lowest-Performing Schools (by % Overall Passing)

Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. Include the following metrics:

* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

### Math Scores by Grade

Create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

### Reading Scores by Grade

Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

### Scores by School Spending

Create a table that breaks down school performance based on average spending ranges (per student). Use your judgment to create four bins with reasonable cutoff values to group school spending. Include the following metrics in the table:

* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

### Scores by School Size

Create a table that breaks down school performance based on school size (small, medium, or large).

### Scores by School Type

Create a table that breaks down school performance based on type of school (district or charter).